#main_directory{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main_directory div{
    display: block;
    background: none;
    border-radius: 0;
    box-shadow: none;
}


.cards section h2{
    font-family: "Bree Serif", serif;
    color: rgb(3, 33, 66);
}

.cards section p{
    font-family: 'Roboto', sans-serif;
    margin-top: .3rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.list{
    display: flex;
    flex-direction: column;
}

.cards section img{
    width: 60%;
    height: auto;
    margin-top: .5rem;
    border-radius: .5rem;
    box-shadow: .3rem .3rem .5rem rgba(0,0,0,.5);;
}

.cards section{
    background: #86bac7;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}

.btn-container button{

    border: 0;
    padding: .8rem 1.2rem;
    background: #86bac7;
    color: white;
    font-weight: bolder;
    border-radius: .5rem;
}
