*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #133c55; 
    padding: 1.5rem 0;
}


header nav{
    display: flex;
    justify-content:  space-around;
} 

.logo-container{
    text-decoration: none;
    color: #fff9fb;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

header nav ul{
    display: flex;
    list-style: none;
    transition: all .5s ease;
}
header nav ul li{
    margin: 0 .5rem;
}

header nav ul li a {
    display: block;
    padding: .5rem .8rem;
    border-radius: .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff9fb;
    opacity: .95;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: #fff9fb;
    opacity: 1;
    background-color: #386fa4;
}

.active{
    color: #fff9fb;
    opacity: 1;
    background-color: #386fa4;
}


.menu-icon{
    display: none;
    width: 2rem;
    filter: invert(95%) sepia(35%) saturate(2699%) hue-rotate(183deg) brightness(115%) contrast(102%);
    cursor: pointer;
    
}

.home{
    max-width: 1000px;
    margin: 1rem auto;
    display: flex;
}
.main-content{
    width: 80%;
    padding: 0 .5rem;
}
.main-content img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5); ;
}

.main-content h2{
    text-align:  center;
    margin: 1rem 0;
    color: #bb0a21;
    font-family: 'Montserrat', sans-serif;
}

.form-container{
    width: 70%;
    margin: 1.5rem auto;
    border: 1px solid #bb0a21;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}

.form-container form label{
    padding-left: 1rem;
}

.form-container form{
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.form-container form input{
    display: block;
    width: 100%;
    padding: .5rem .6rem;
    margin: .3rem 0;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: .3rem;

}
.form-container form  textarea{
    width: 100%;
    margin: .5rem 0;
    outline: none;
    border: 1px solid black;
    padding: .5rem .6rem;
}
.form-container form button[type="submit"]{
    display: block;
    text-decoration: none;
    background-color: black;
    color: #fff9fb;
    padding: .6rem .8rem;
    width: fit-content;
    margin: .7rem auto;
    text-transform: uppercase;
    border-radius: .8rem;
    cursor: pointer;
}

.form-container form fieldset{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}


.form-container form label textarea{
    border: none;
    padding: .5rem .5rem;
    margin-top: .5em;
    border-radius: .3rem;

}

.form-container h3{
    text-align: center;
    color: #bb0a21;
    margin: 1rem 0;
}


.form-container .social-container{
    display: flex;
    justify-content: center;
}


.form-container .social-container img {
    width: 30px;
    margin: 1rem;
    box-shadow: none;
}
.form-container .social-container img:hover{
    cursor: pointer;
}

.form-container p{
    text-align: center;
}
@media (max-width: 930px){
    .menu-icon{
        display: block;
    }
    header nav ul{
        position: fixed;
        display: block;
        width: 100%;
        top: 5rem;
        background-color: #133c55;
        height: 100vh;
        left: -100%;
        text-align: center; 
        border-top: 2px solid silver;      
    }
    header nav ul li a{
        margin: 2rem 0;
    }
    header nav ul li a:hover{
        color: rgb(255, 253, 253);
        opacity: 1;
        font-weight: bold;
        background-color: #133c55 ;
    }
    .active{
        color: rgb(255, 253, 253);
        opacity: 1;
        font-weight: bold;
        background-color: #133c55 ;
        
    }
}
.show{
    left: 0;
}
.main-content img{
    width: 100%;
    height: auto;

}
.cta {
    display: block;
    text-decoration: none;
    background-color: black;
    color: #fff9fb;
    padding: .6rem .8rem;
    width: fit-content;
    margin: .7rem auto;
    text-transform: uppercase;
    border-radius: .8rem;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #386fa4;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social-container img{
    width: 32px;
}
footer .social-container img:hover{
    cursor: pointer;
}

footer iframe{
    border-radius: .7rem;
    width: 30%;
}

footer p {
    color: #fff9fb;
    margin: 1rem}

/*Temple Page*/
.temple{
    max-width: 1000px;
    margin: 0 auto;
}
.cards section h2, .temple-container section h2{
    font-family: 'Montserrat', sans-serif;
    color: #fff9fb;
    margin: .5rem 0;
    font-size: 1.1rem;
}

.cards section p{
    font-family: 'Roboto', sans-serif;
    margin: .3rem 0;
    font-size: .9rem;
    color: #fff9fb;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.cards section img{
    width: 80%;
    height: auto;
    margin-top: .5rem;
    border-radius: .5rem;
}

.cards section{
    background: #bb0a21 ;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}
.cards section:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0,0,.8);
}

.cards section h3, .temple-container section h3{
    color: #fff9fb;
    margin: .3rem 0;

}

.cards section ul, .temple-container section ul{
    color: #fff9fb;
    margin: .5rem;
    font-size: 1.1rem;
}

.temple-container{
    display: none;
    background-color:rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position:fixed;
    inset: 0;   
    overflow: auto; 
}
.show-modal{
    display: block;
}
.temple-container section{
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #bb0a21;
    z-index:99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
    padding: 1.5rem;
}
.temple-container section img{
    width: 90%;
    height: auto;
}
.temple-container section p{
    font-family: 'Roboto', sans-serif;
    margin: .3rem 0;
    font-size: .9rem;
    color: #fff9fb;
}

.close{
    position: absolute;
    color: white;
    font-size:  3rem;
    top: 0;
    right: .3rem;
}

.close:hover{
    color: #bb0a21;
    cursor: pointer;
}